.chat_main
  .chat_main__group_info
    .chat_main__group_info--name
      test
      .chat_main__group_info--menbers
        menber:○○
    .chat_main__group_info--btn
    = link_to "#", class: "btn_edit" do
      Edit
  .chat_main__space
    .chat_main__space--message_title
      .message_user
        username
      .message_date
        2020/02/03/(wed)00:00:00
    .chat_main__space--message_comment
      おはよう
    .chat_main__space--message_title2
      .message_user2
        username
      .message_date2
        2020/02/03/(wed)00:00:00
    .chat_main__space--message_comment2
      おはよう!!
  .chat_main__message
    %form.new_messege
      .form_box 
        %input{type:"text", class:"form_message", placeholder:"type a message"} 
        %label{class:"form_btn--icon"}
          = icon('fas', 'image')
          %input{type:"file", class:"from_btn_file"}
      %input{type:"submit", class:"form_send_btn", value:"send"}