.chat_main{
  height: 100%;
  width: calc(100vw - 300px);
  background-color: $white_color;
  &__group_info{
    height: 100px;
    border-bottom: 1px #eeeeee solid;
    display: flex;
    justify-content: space-between;
    &--name{
      color: #333333;
      font-size: 20px;
      margin: 35px 0px 15px 40px;
      .chat_main__group_info--menbers{
      color: #999999;
      font-size: 12px;
      }
    }
    .btn_edit{
      text-decoration: none;
      display: block;
      color: $blue_color;
      font-size: 16px;
      margin: 28px 60px 0px 20px;
    }
  }
  .chat_main__space{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 30px 0 0 40px;
    &--message_title{
      display: flex;
      margin-bottom: 15px;
      .message_user{
        color: #333333;
        font-size: 16px;
        margin-right: 5px;
      }
      .message_date{
        color: #999999;
        font-size: 12px;
      }
    }
    &--message_comment{
      color: #434A54;
      font-size: 14px;
      margin-bottom: 46px;
    }
    &--message_title2{
      display: flex;
      margin-bottom: 15px;
      .message_user2{
        color: #333333;
        font-size: 16px;
        margin-right: 5px;
      }
      .message_date2{
        color: #999999;
        font-size: 12px;
      }
    }
    &--message_comment2 {
      color: #434A54;
      font-size: 14px;
      margin-bottom: 46px;
    }
  }
  .chat_main__message{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px 20px 40px;
    form{
      display: flex;
      .form_box{
        display: flex;
        width: 100%;
        position: relative;
        .form_message{
        color: #999999;
        background-color: $white_color;
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        }
        .form_btn--icon{
          position: absolute;
          top: 10px;
          right: 10px;
        }
          .from_btn_file{
            display: none;
          }
      }     
      .form_send_btn{ 
      color: $white_color;
      height: 50px;
      width: 100px;
      background-color: $blue_color;
      margin-left: 15px;
      }
    }
  }
}