.chat_main{
  height: 100%;
  width: calc(100vw - 300px);
  background-color: $white_color;
  &__group_info{
    height: 100px;
    border-bottom: 1px #eeeeee solid;
    display: flex;
    justify-content: space-between;
    &--name{
      color: #333333;
      font-size: 20px;
      margin: 35px 0px 0px 40px;
    }
      &--menbers{
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    .btn_edit{
      text-decoration: none;
      display: block;
      color: $blue_color;
      font-size: 16px;
      margin: 28px 60px 0px 20px;
      padding: 10px 20px;
      border : solid 1px $blue_color;
    }
  }
  .chat_main__space{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 46px 0 0 40px;
    overflow: scroll;
    &--message_title{
      display: flex;
      margin-bottom: 10px;
      .message_user{
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        margin-right: 5px;
      }
      .message_date{
        color: #999999;
        font-size: 12px;
      }
    }
    &--message_comment{
      color: #434A54;
      font-size: 15px;
      margin-bottom: 45px;
    }
  }
  
  .chat_main__message{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    &__form {
      &__input{
        width: 100%;
        position: relative;
        display: flex;
        &--text {
          color: #999999;
          background-color: $white_color;
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          }
          .form__icon{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 125px;
            &__label{
            }
            &__image{
            }
          .form__file{
            display: none;
          }   
         }   
      .form_send_btn{ 
        color: $white_color;
        height: 50px;
        width: 100px;
        background-color: $blue_color;
        margin-left: 15px;
      }
    }
  }
 }
}