.side_bar{
  height: 100%;
  width: 300px;
  background-color: #253141;
  .side_bar__username{
    height: 100px;
    padding: 20px;
    display: flex;
    align-items :center;
    .side_bar__top{
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .side_bar__top--username{
        color: white;
        font-weight: bold;
        line-height: 20px;
      }
      .side_bar__top--icon{
        height: 100%;
        width: 60px;
        text-align: right;
        line-height: 20px;
        .side_bar__top--icon_btn{
          color: #ffffff;
          text-decoration: none;
        }
      }
    }  
  }
  .side_bar__group{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px;
    .side_bar__group--name{
      color: white;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
      display: block;
      margin-bottom: 5px;
    }
    .side_bar__group--message{
      color: white;
      font-weight: bold;
      font-size: 11px;
      text-decoration: none;
      display: block;
      padding-bottom: 40px;
    }
  }
}